<div class="showtunes-app"
     [class]="(theme$ | async) !== null ? (
      ((useDynamicThemeAccent$ | async) && (dynamicAccentColor$ | async) !== null) ?
      (dynamicAccentColor$ | async) + '-' + (theme$ | async) :
      (customAccentColor$ | async) !== null ? (customAccentColor$ | async) + '-' + (theme$ | async) :
      (theme$ | async)
      ) : ''"
     [style]="{ cursor: fadeCursor ? 'none' : 'inherit' }">
    <mat-sidenav-container class="container">
      <ng-container *ngIf="appInitialized; else appNotInitialized">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #appNotInitialized>
        <app-error [message]="'ShowTunes failed to initialize!'"></app-error>
      </ng-template>
    </mat-sidenav-container>
</div>
