html, body {
    height: 100%;
}

.container {
    height: 100%;
    overflow-y: hidden;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.showtunes-app {
  height: 100%;
}

.not-initialized {
  height: 100%;

  .mat-icon {
    transform: scale(4);
    margin: 0 0 64px;
  }
}
