@import "../../../../node_modules/@angular/material/theming";

@mixin app-component-theme($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .app-primary-text {
    color: mat-color($primary, text);
  }

  .app-foreground-text {
    color: mat-color($foreground, text);
  }

  /* Link styling */
  a:link, a:visited {
    color: mat-color($accent, text) !important;
    text-decoration: none;
  }

  a:hover, a:active {
    color: mat-color($accent, text) !important;
    text-decoration: underline;
  }
}
