.menu-item {
  padding: 12px 0;
}

.code-color-picker {
  margin-left: 4px;
}

.setting-inputs {
  margin-top: 8px;
  margin-left: 16px;
}

::ng-deep .settings-menu {
  overflow: hidden !important;
  max-width: fit-content !important;
}
