.menu-item {
  margin-bottom: 6px;
}

.code-color-picker {
  margin-left: 4px;
}

/*::ng-deep .color-picker {
  border-radius: 4px !important;
  font-size: 14px !important;
}
::ng-deep .saturation-lightness {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

::ng-deep .preset-label {
  font-size: 14px !important;
}

.color-picker-button {
  background-color: rgba(0,0,0,0) !important;
  border: 2px solid #9e9e9e !important;
}*/
