@import "~@angular/material/theming";

@mixin settings-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .options-icon {
    color: mat-color($primary, text);
  }

  .foreground-text {
    color: mat-color($foreground, text);
  }
}
