@use '@angular/material' as mat;
@use 'sass:map';

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);

  .options-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  .foreground-text {
    color: mat.get-color-from-palette($foreground, text);
  }
}
