<div class="track-playback"
     fxLayout="column"
     fxLayoutAlign="center center">
  <div class="track-slider">
    <mat-slider appInteractionThrottle class="track-slider" min="0" [max]="duration" step="1" [value]="progress" (throttledChange)="onProgressChange($event)"></mat-slider>
  </div>
  <div class="mat-subheading-2 time-values"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div class="progress-time">{{progressFormatted}}</div>
    <div class="duration-time">{{durationFormatted}}</div>
  </div>
</div>
