.volume-slider {
  width: 100%;
  max-width: 40%;
}

.volume-button {
  height: 32px !important;
  width: 32px !important;
  font-size: 32px !important;
  line-height: 32px !important;
  vertical-align: center !important;
}


