<div class="mat-subheading-2"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="48px">
  <button mat-icon-button [ngClass]="shuffleClass" (click)="onToggleShuffle()">
    <mat-icon aria-hidden="false" aria-label="Shuffle">shuffle</mat-icon>
  </button>
  <button mat-icon-button class="track-player-icon" (click)="onSkipPrevious()">
    <mat-icon aria-hidden="false" aria-label="SkipPrevious">skip_previous</mat-icon>
  </button>
  <button mat-fab class="track-player-icon-background" (click)="onPause()">
    <mat-icon class="track-player-icon-foreground" aria-hidden="false" aria-label="Play/Pause">{{playIcon}}</mat-icon>
  </button>
  <button mat-icon-button class="track-player-icon" (click)="onSkipNext()">
    <mat-icon aria-hidden="false" aria-label="SkipNext">skip_next</mat-icon>
  </button>
  <button mat-icon-button [ngClass]="repeatClass" (click)="onRepeatChange()">
    <mat-icon aria-hidden="false" aria-label="Repeat">{{repeatIcon}}</mat-icon>
  </button>
</div>
<div class="track-volume"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="6px">
  <button mat-icon-button class="mat-subheading-2 track-player-icon" (click)="onVolumeMute()">
    <mat-icon class="volume-button">{{volumeIcon}}</mat-icon>
  </button>
  <div class="volume-slider">
    <mat-slider style="width: 100%" min="0" max="100" step="1" [value]="volume" (change)="onVolumeChange($event)"></mat-slider>
  </div>
  <app-devices></app-devices>
  <div class="like-button">
    <button mat-icon-button [ngClass]="likedClass" (click)="onLikeChange()">
      <mat-icon>thumb_up</mat-icon>
    </button>
  </div>
</div>
