<button mat-icon-button [matMenuTriggerFor]="devicesMenu" (menuOpened)="onMenuOpened()">
  <mat-icon class="app-icon">devices</mat-icon>
</button>
<mat-menu class="devices-menu" #devicesMenu="matMenu">
  <ng-container *ngFor="let device of (availableDevices$ | async)">
    <ng-container *ngIf="(currentDevice$ | async) || {}; let currentDevice">
      <button mat-menu-item
              [class.active]="currentDevice && currentDevice.id === device.id"
              (click)="onSelectDevice(device)"
      >
        <mat-icon class="app-icon">{{device.icon}}</mat-icon>
        <span>{{device.name}}</span>
      </button>
    </ng-container>
  </ng-container>

</mat-menu>
