.actions {
  justify-content: end;
}

.help-dialog-title {
  margin-bottom: 24px;
}

.help-icon {
  vertical-align: middle;
}

.footer-item {
  margin-bottom: -24px;
}

::ng-deep .mat-raised-button.mat-primary {
  color: white !important;
}
