<!--<div ngClass="playback-player" [ngClass.xs]="'playback-player-xs'">-->
<div class="track-player"
     fxLayout="column"
     fxLayoutAlign="space-around stretch">
  <div *ngIf="(track$ | async)" class="track-info"
     fxLayout="column"
     fxLayoutAlign="space-around start"
     fxLayoutGap="24px">
    <div class="mat-display-3 track-title">
      <a href="{{(track$ | async).href}}" target="_blank">
        {{(track$ | async).title}}
      </a>
    </div>
    <div class="mat-display-1 track-artist">
      <ng-container *ngFor="let artist of (track$ | async).artists; let i = index">
        <a href="{{artist.href}}" target="_blank">{{artist.name}}</a>
        <span *ngIf="i + 1 < (track$ | async).artists.length">, </span>
      </ng-container>
    </div>
    <div class="mat-display-1 track-album">
      <a href="{{(album$ | async) ? (album$ | async).href : ''}}" target="_blank">
        {{(album$ | async) ? (album$ | async).name : ''}}
      </a>
    </div>
  </div>
  <div *ngIf="!(track$ | async)" class="track-placeholder"
       fxLayout="column"
       fxLayoutAlign="center start">
    <div class="mat-display-1">No track currently playing</div>
  </div>
  <div class="track-playback"
       fxLayout="column"
       fxLayoutAlign="center center">
    <div class="track-slider">
      <mat-slider min="0" [max]="duration$ | async" step="1" [value]="progress$ | async" (change)="onProgressChange($event)"></mat-slider>
    </div>
    <div class="mat-subheading-2 time-values"
         fxLayout="row"
    fxLayoutAlign="center center">
      <div class="progress-time">{{getProgress((progress$ | async))}}</div>
      <div class="duration-time">{{getProgress((duration$ | async))}}</div>
    </div>
  </div>
  <div class="mat-subheading-2 player-buttons"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="48px"
       *ngIf="showPlayerControls$ | async">
    <button mat-icon-button [ngClass]="(isShuffle$ | async) ? 'track-player-icon-accent' : 'track-player-icon'" (click)="onToggleShuffle()">
      <mat-icon class="player-button" aria-hidden="false" aria-label="Shuffle">shuffle</mat-icon>
    </button>
    <button mat-icon-button class="track-player-icon" (click)="onSkipPrevious()">
      <mat-icon class="player-button" aria-hidden="false" aria-label="SkipPrevious">skip_previous</mat-icon>
    </button>
    <button mat-fab class="track-player-icon-background" (click)="onPause()">
      <mat-icon class="track-player-icon-foreground" aria-hidden="false" aria-label="Play/Pause">{{getPlayIcon((isPlaying$ | async))}}</mat-icon>
    </button>
    <button mat-icon-button class="track-player-icon" (click)="onSkipNext()">
      <mat-icon class="player-button" aria-hidden="false" aria-label="SkipNext">skip_next</mat-icon>
    </button>
    <button mat-icon-button [ngClass]="getRepeatClass((repeat$ | async))" (click)="onRepeatChange()">
      <mat-icon class="player-button" aria-hidden="false" aria-label="Repeat">{{getRepeatIcon((repeat$ | async))}}</mat-icon>
    </button>
  </div>
  <div class="track-volume"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="6px"
       *ngIf="showPlayerControls$ | async">
    <button mat-icon-button class="mat-subheading-2 track-player-icon" (click)="onVolumeMute()">
      <mat-icon class="volume-button">{{getVolumeIcon((volume$ | async))}}</mat-icon>
    </button>
    <div class="volume-slider">
      <mat-slider min="0" max="100" step="1" [value]="volume$ | async" (change)="onVolumeChange($event)"></mat-slider>
    </div>
    <!--<button mat-icon-button disabled class="mat-subheading-2 volume-filler">
      <mat-icon class="volume-button">volume_up</mat-icon>
    </button>-->
    <app-devices></app-devices>
    <div class="like-button">
      <button mat-icon-button [ngClass]="(isLiked$ | async) ? 'track-player-icon-accent' : 'track-player-icon'" (click)="onLikeChange()">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
  </div>
  <div class="mat-subheading-1 playlist-font"
       *ngIf="(showPlaylistName$ | async) && (playlist$ | async)"
  >Currently playing from:
    <span class="playlist-name">
      <a href="{{(playlist$ | async).href}}" target="_blank">{{(playlist$ | async).name}}</a>
    </span>
  </div>
</div>
