.track-player {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

/* Track info link styling */
.track-info a {
  color: inherit !important;
}

.track-info a:link, a:visited {
  text-decoration: none;
}

.track-info a:hover, a:active {
  text-decoration: underline;
}

.track-title {
  font-weight: bold;
}

.track-artist {
}

.track-album {
}

.playlist-font {
  margin-top: 32px;
}

/* Playlist link styling */
.playlist-font a:link, a:visited {
  text-decoration: none;
  color: inherit !important;;
}

.playlist-font a:hover, a:active {
  text-decoration: underline;
  color: inherit !important;
}

.playlist-name {
  font-weight: bold;
}
