.album-display {
  max-width: 100%;
  height: auto;
}

.album-placeholder {
  width: 508px;
  height: 508px;
}

.album-placeholder-sm {
  width: 356px;
  height: 356px;
}

.img-sm {
  width: 70%;
}

.album-image-container {
  text-align: center;
}

.album-image {
  max-width: 100%;
  height: auto;
}

.qr-code-image {
  max-width: 100%;
  height: auto;
}

.qr-code-placeholder {
  width: 508px;
  height: 124px;
}

.qr-code-placeholder-sm {
  width: 356px;
  height: 87px;
}
