.album-display {
  max-width: 100%;
  height: auto;
}

.album-placeholder {
  width: 508px;
  height: 508px;
  border: 2px dashed #9e9e9e;
}

.img-sm {
  width: 70%;
}

.album-image {
  max-width: 100%;
  height: auto;
}

.qr-code-image {
  max-width: 100%;
  height: auto;
}
