<div class="album-display"
     fxLayout="column"
     fxLayoutAlign="space-around center"
     fxLayoutGap="6px"
     >
  <div *ngIf="(coverArt$ | async) && (coverArt$ | async).url; else albumPlaceholder"
       class="album-image-container">
    <a href="{{(album$ | async).href}}" target="_blank">
      <img src="{{(coverArt$ | async).url}}" class="album-image" [ngClass.lt-md]="'img-sm'" />
    </a>
  </div>
  <ng-template #albumPlaceholder>
    <div class="album-image">
      <div class="album-placeholder" [ngClass.lt-md]="'album-placeholder-sm'"
           fxLayout="column"
           fxLayoutAlign="center center">
        <mat-spinner *ngIf="!(isIdle$ | async); else noMusicMessage" class="album-placeholder-spinner"></mat-spinner>
        <ng-template #noMusicMessage>
          <span class="mat-h1" style="margin: 0">Start Spotify to display music!</span>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <div *ngIf="(showSpotifyCode$ | async) && !spotifyCodeUrl; else spotifyCode">
    <div class="qr-code-image">
      <div class="qr-code-placeholder" [ngClass.lt-md]="'qr-code-placeholder-sm'"
           fxLayout="column"
           fxLayoutAlign="center center">
        <div style="width: 100%; height: 100%"
             fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="12px">
          <fa-icon [icon]="spotifyIcon" style="font-size: 20px"></fa-icon>
          <mat-progress-bar *ngIf="!(isIdle$ | async)" style="width: 33%" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spotifyCode>
    <img *ngIf="showSpotifyCode$ | async" src="{{spotifyCodeUrl}}" class="qr-code-image" [ngClass.lt-md]="'img-sm'" />
  </ng-template>
</div>
