@use '@angular/material' as mat;
@use 'sass:map';
@use 'assets/styles/themes';

@use 'src/app/components';

@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin custom-components-theme($theme) {
  @include components.album-display-theme($theme);
  @include components.app-theme($theme);
  @include components.devices-theme($theme);
  @include components.help-dialog-theme($theme);
  @include components.settings-menu-theme($theme);
  @include components.track-player-theme($theme);
}


/* General scrollbar styling */
.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0;
}

/*body.top-scroll::-webkit-scrollbar-thumb {
  border-radius: 0 0 4px 4px;
}

body.bottom-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px 4px 0 0;
}*/

/* Themed scrollbar styling */
@mixin scrollbar-thumb-theme($thumb-color, $track-color) {
  background-color: $thumb-color;
  //border: 3px solid $track-color;
}

@mixin scrollbar-track-theme($track-color) {
  background: $track-color;
}

$thumb-color-light: mat.get-color-from-palette(map.get(themes.$light-theme, accent), text);
$track-color-light: mat.get-color-from-palette(map.get(themes.$light-theme, background), app-bar);

.scrollbar-light {
  scrollbar-color: $thumb-color-light $track-color-light;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  @include scrollbar-thumb-theme($thumb-color-light, $track-color-light);
}

.scrollbar-light::-webkit-scrollbar-track {
  @include scrollbar-track-theme($track-color-light);
}

$thumb-color-dark: mat.get-color-from-palette(map.get(themes.$dark-theme, accent), text);
$track-color-dark: mat.get-color-from-palette(map.get(themes.$dark-theme, background), app-bar);

.scrollbar-dark {
  scrollbar-color: $thumb-color-dark $track-color-dark;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  @include scrollbar-thumb-theme($thumb-color-dark, $track-color-dark);
}

.scrollbar-dark::-webkit-scrollbar-track {
  @include scrollbar-track-theme($track-color-dark);
}

.light-theme {
  //@include mat.angular-material-theme($light-theme);
  @include themes.component-themes(themes.$light-theme);
  @include custom-components-theme(themes.$light-theme);

  $primary: map.get(themes.$light-theme, primary);
  $foreground: map.get(themes.$light-theme, foreground);
  $background: map.get(themes.$light-theme, background);

  .app-icon {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon-foreground {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon-background {
    background-color: mat.get-color-from-palette($background, background) !important;
  }

  .playlist-font {
    color: mat.get-color-from-palette($primary, 500);
  }
}

.dark-theme {
  //@include mat.angular-material-theme($dark-theme);
  @include themes.component-themes(themes.$dark-theme);
  @include custom-components-theme(themes.$dark-theme);

  $primary: map.get(themes.$dark-theme, primary);
  $foreground: map.get(themes.$dark-theme, foreground);
  $background: map.get(themes.$dark-theme, background);

  .app-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  .track-player-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  .track-player-icon-foreground {
    color: mat.get-color-from-palette($background, text);
  }

  .track-player-icon-background {
    background-color: mat.get-color-from-palette($foreground, text) !important;
  }

  .playlist-font {
    color: mat.get-color-from-palette($primary, 500);
  }
}
