@use '@angular/material' as mat;
@use 'sass:map';
@use 'assets/styles/themes';

@use 'app/components/album-display/album-display.component.theme' as album-display;
@use 'app/components/app/app.component.theme' as app;
@use 'app/components/devices/devices.component.theme' as devices;
@use 'app/components/settings-menu/help-dialog.component.theme' as help-dialog;
@use 'app/components/settings-menu/settings-menu.component.theme' as settings-menu;
@use 'app/components/track-player/track-player.component.theme' as track-player;

@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin custom-components-theme($theme) {
  @include album-display.theme($theme);
  @include app.theme($theme);
  @include devices.theme($theme);
  @include help-dialog.theme($theme);
  @include settings-menu.theme($theme);
  @include track-player.theme($theme);
}

.light-theme {
  //@include mat.angular-material-theme($light-theme);
  @include themes.component-themes(themes.$light-theme);
  @include custom-components-theme(themes.$light-theme);

  $primary: map.get(themes.$light-theme, primary);
  $foreground: map.get(themes.$light-theme, foreground);
  $background: map.get(themes.$light-theme, background);

  .app-icon {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon-foreground {
    color: mat.get-color-from-palette($foreground, text);
  }

  .track-player-icon-background {
    background-color: mat.get-color-from-palette($background, background) !important;
  }

  .playlist-font {
    color: mat.get-color-from-palette($primary, 500);
  }
}

.dark-theme {
  //@include mat.angular-material-theme($dark-theme);
  @include themes.component-themes(themes.$dark-theme);
  @include custom-components-theme(themes.$dark-theme);

  $primary: map.get(themes.$dark-theme, primary);
  $foreground: map.get(themes.$dark-theme, foreground);
  $background: map.get(themes.$dark-theme, background);

  .app-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  .track-player-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  .track-player-icon-foreground {
    color: mat.get-color-from-palette($background, text);
  }

  .track-player-icon-background {
    background-color: mat.get-color-from-palette($foreground, text) !important;
  }

  .playlist-font {
    color: mat.get-color-from-palette($primary, 500);
  }
}
