@use '@angular/material' as mat;
@use 'themes';

:root {
  --color-primary-light: #{mat.get-color-from-palette(themes.$light-primary)};
  --color-primary-dark: #{mat.get-color-from-palette(themes.$dark-primary)};

  --color-accent-light: #{mat.get-color-from-palette(themes.$light-accent)};
  --color-accent-dark:  #{mat.get-color-from-palette(themes.$dark-accent)};

  --color-warn-light: #{mat.get-color-from-palette(themes.$light-warn)};
  --color-warn-dark:  #{mat.get-color-from-palette(themes.$dark-warn)};
}
