@import '@angular/material/theming';

// For explanation, see: https://material.angular.io/guide/theming

@include mat-core();

// Light theme
$light-primary: mat-palette($mat-gray);
$light-accent:  mat-palette($mat-green, A400, A200, A700);
$light-warn:    mat-palette($mat-deep-orange);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Alternate dark theme
$dark-primary: mat-palette($mat-gray);
$dark-accent:  mat-palette($mat-green, A400, A200, A700);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn)

//$dark-background: mat-color($mat-blue-gray, 700);
//$dark-font-color: mat-color($mat-gray, 100);
